@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html {
    width: 100%;
    height: 100%;
}

.delivery-font {
    font-family: 'Nunito', sans-serif;
}
.crypto-font {
    font-family: 'Roboto', sans-serif;
}

body {
    /*@apply text-*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    position: relative;
}
li {
    list-style: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, input:focus, input:active {
    /*color: #f8f8f6;*/
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

*:focus {
    outline-width: 0;
}

.custom-scroll::-webkit-scrollbar{
    width: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb{
    height: 50%;
    background-color: #cccccc;
    border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-track{
    margin-top: 116px;
    background-color: transparent;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.crypto-stars {
    background: url("../assets/crypto-mobile/intro-stars.svg") repeat center top / 100% 60%;
}
.crypto-starLoad {
    background: url("../assets/crypto-mobile/intro-starLoad.svg") no-repeat center / 100%;
}

.text-line-1 {
    text-shadow:
            -1px 0 #000,
            0 1px #000,
            1px 0 #000,
            0 -1px #000;
}

.text-line-2 {
    text-shadow:
            -2px 0 #000,
            0 2px #000,
            2px 0 #000,
            0 -2px #000;
}
.text-line-3 {
    text-shadow:
            -3px 0 #000,
            0 3px #000,
            3px 0 #000,
            0 -3px #000;
}
.landing-main-h {
    height: calc(100% - 116px);
}


.h1---bold-60-82-01px {
    @apply text-6xl leading-tight font-bold;
}
.h2---extrabold-40-56-01px {
    @apply text-4xl leading-normal font-extrabold;
}
.h3---bold-32-42-01px {
    @apply text-3xl leading-tight font-bold;
}
.h4---extrabold-24-32-01px {
    @apply text-2xl leading-tight font-extrabold;
}
.h5---semibold-20-28-01px {
    @apply text-xl leading-normal font-semibold;
}
.h6---bold-18-24-01px {
    @apply text-lg leading-tight font-bold;
}
.button-1---bold-14-20-04px {
    @apply text-sm leading-normal font-bold;
}
.subtitle-1---bold-14-20-01px {
    @apply text-sm leading-normal font-bold;
}
.body-1---regular-14-20-01px {
    @apply leading-normal;
}
.small-1---bold-13-18-01px {
    @apply text-xs leading-normal font-bold;
}
.subtitle-2---semibold-13-18-0px {
    @apply text-xs leading-normal font-semibold;
}
.body-2---regular-13-18-02px {
    @apply text-xs leading-normal;
}
.small-2---semibold-12-16-0px {
    @apply text-xs leading-tight font-semibold;
}
.caption---bold-11-16-06px-caps {
    @apply text-xs leading-normal tracking-wide font-bold;
}
.small-3---bold-10-14-0px {
    @apply leading-normal font-bold;
}


.crypto-32px-bold {
    font-size: 32px;
    @apply leading-normal text-center tracking-wide font-bold;
}
.crypto-28px-bold {
    font-size: 28px;
    @apply text-3xl tracking-wide font-bold;
}
.crypto-2xl-normal {
    @apply text-2xl tracking-wide font-normal;
}
.crypto-lg-bold {
    @apply text-lg tracking-wide font-bold;
}
.crypto-lg-md {
    @apply text-lg tracking-wide font-medium;
}
.crypto-lg-normal {
    @apply text-lg text-center tracking-wide font-normal;
}
.crypto-sm-bold {
    @apply text-sm leading-normal text-right tracking-wide font-bold;
}
.crypto-sm-md {
    @apply text-sm leading-normal tracking-wide font-medium;
}
.crypto-sm-normal {
    @apply text-sm text-center font-normal;
}
.crypto-xs-normal {
    @apply text-xs tracking-wide font-normal;
}
.crypto-10px-normal {
    font-size: 10px;
    @apply text-xs;
}